<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Course Change Portal ( Banaras Hindu University ), Varanasi -India">
    <meta name="keywords" content="course change portal,portal,iit bhu, itbhu,bhu, indian institute of technology bhu, iit varanasi,banaras hindu university" />

    <meta name="author" content="">
    <!--favicon-->
    <link rel="icon" href="/static/images/iitbhu.ico">

    <title>Discipline Change Portal | IIT (BHU), Varanasi</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <link href="/static/css/custom.css" rel="stylesheet"> -->
   
  </head>

  <body>
  <div class="container">
  <div class="row">
      <div class="col-sm-3"><img src="/static/images/logo.jpg" style="height: 150px;width: 150px;left-margin: 70px" align="right" class="img-responsive"/></div>
      <div class="col-sm-9"><img src="/static/images/emblem.jpg" style="height: 150px;width: auto;" align="left" class="img-responsive"/></div>
  </div>
      </div>
  <h2 align="center"><u>Discipline Change Portal</u></h2>
  <div class="container">
      <h3>Procedure :</h3>
      <div class="jumbotron">
        <h4>The following is the procedure for change of discipline for students in Part-1 of their respective programs.</h5>
        <ul style="font-size:16px">
            <li>Change of discipline is subject to the eligibility and availability as described in the rules given below <br>    Students must read these rules and indicate their agreement by checking the box below.</li>
            <li>Enter your official email (IIT-BHU) address in the text box and click submit. A link of the form to be filled is then sent to the given email address.</li>
            <li>Use the link in the email to fill in the necessary details on the form and click submit. The completed form is then available for download in PDF format.</li>
            <li>Download the completed form as a PDF file, sign it and hand it over in the office of the Assistant Registrar (Academic), IIT(BHU) (located in the Electrical Engineering building behind G10) on or before <b> 20<sup>th</sup>April,2015</b></li>
        </ul>
      </div>
      </div>
    <hr>
  <div class="container">
<div class="jumbotron">

         <div class="checkbox" align="center">
    <label><input type="checkbox" id="chechbox1" onchange="checkboxfn(this)"> I have read the <a href="{{ MEDIA_URL }}pdf/Rules_and_Procedures_of_Branch_Change.pdf">Rules and Guidelines</a> regarding change of discipline</label>
     </div>


    <form action="/email_submit/" align="center" id="myForm"  onsubmit="return validate_email()" role="form" class="form-inline" method="post">{% csrf_token %}
      <div class="form-group">
          <label  for="email">Email Address: </label>

      <input name="email" type="email" id="email"  class="form-control" placeholder="Enter your Official Email ID" />
          </div>

      <button class="btn btn-submit" type="submit" id="submit_button"  >Submit <span class="glyphicon glyphicon-ok-sign"></span> </button>

    </form></div>

    
</div>



    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        function checkboxfn(){
                check = document.getElementById("chechbox1").checked;
            if (check){
                    window.open('{{ MEDIA_URL }}pdf/Rules_and_Procedures_of_Branch_Change.pdf','_blank');
            }
        }
        function validate_email(){
        var f=document.forms["myForm"]["email"].value;
        var c = document.getElementById("chechbox1").checked;
        if (f == ""){
        alert("You must fill the Email ");
        return false;
        }
        else if(c == false){
        alert("Please read the rules and guidelines and Accept it!");
        return false;
        }
         else {
        var splitted = f.match("^(.+)@itbhu\.ac\.in$");
        var splitted1 = f.match("^(.+)@iitbhu\.ac\.in$")
        if(splitted == null && splitted1 == null){
        alert("Enter valid official Email");
        return false;
        }
        }
        }
    </script>

  </body>
</html>
